/* styles.css */
h1 { 
    color: rgb(9, 9, 87);
    background-color: transparent;
    font-size: 32px;
    text-align: center;
    font-family: arial, sans-serif;
}
* p{
    color: blue;
}
.header, h2{
    color: purple;
}
button{
    color: white;
    background-color: green;
    font-size: 22px;
}